<%= form_with(model: world_bank_country) do |form| %>
  <% if world_bank_country.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(world_bank_country.errors.count, "error") %> prohibited this world_bank_country from being saved:</h2>

      <ul>
        <% world_bank_country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Year, style: "display: block" %>
    <%= form.number_field :Year %>
  </div>

  <div>
    <%= form.label :Agriculture, style: "display: block" %>
    <%= form.text_field :Agriculture %>
  </div>

  <div>
    <%= form.label :EaseOfDoingBusiness, style: "display: block" %>
    <%= form.text_field :EaseOfDoingBusiness %>
  </div>

  <div>
    <%= form.label :EducationExpenditure, style: "display: block" %>
    <%= form.text_field :EducationExpenditure %>
  </div>

  <div>
    <%= form.label :Export, style: "display: block" %>
    <%= form.text_field :Export %>
  </div>

  <div>
    <%= form.label :Gdp, style: "display: block" %>
    <%= form.text_field :Gdp %>
  </div>

  <div>
    <%= form.label :HealthExpenditure, style: "display: block" %>
    <%= form.text_field :HealthExpenditure %>
  </div>

  <div>
    <%= form.label :Import, style: "display: block" %>
    <%= form.text_field :Import %>
  </div>

  <div>
    <%= form.label :Industry, style: "display: block" %>
    <%= form.text_field :Industry %>
  </div>

  <div>
    <%= form.label :InflationRate, style: "display: block" %>
    <%= form.text_field :InflationRate %>
  </div>

  <div>
    <%= form.label :R, style: "display: block" %>
    <%= form.text_field :R %>
  </div>

  <div>
    <%= form.label :CountryNameId, style: "display: block" %>
    <%= form.number_field :CountryNameId %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
