<%= form_with(model: world_bank_country) do |form| %>
  <% if world_bank_country.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(world_bank_country.errors.count, "error") %> prohibited this world_bank_country from being saved:</h2>

      <ul>
        <% world_bank_country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :agriculture, style: "display: block" %>
    <%= form.text_field :agriculture %>
  </div>

  <div>
    <%= form.label :ease_of_doing_business, style: "display: block" %>
    <%= form.text_field :ease_of_doing_business %>
  </div>

  <div>
    <%= form.label :education_expenditure, style: "display: block" %>
    <%= form.text_field :education_expenditure %>
  </div>

  <div>
    <%= form.label :export, style: "display: block" %>
    <%= form.text_field :export %>
  </div>

  <div>
    <%= form.label :gdp, style: "display: block" %>
    <%= form.text_field :gdp %>
  </div>

  <div>
    <%= form.label :health_expenditure, style: "display: block" %>
    <%= form.text_field :health_expenditure %>
  </div>

  <div>
    <%= form.label :import, style: "display: block" %>
    <%= form.text_field :import %>
  </div>

  <div>
    <%= form.label :industry, style: "display: block" %>
    <%= form.text_field :industry %>
  </div>

  <div>
    <%= form.label :inflation_rate, style: "display: block" %>
    <%= form.text_field :inflation_rate %>
  </div>

  <div>
    <%= form.label :r, style: "display: block" %>
    <%= form.text_field :r %>
  </div>

  <div>
    <%= form.label :country_name_id, style: "display: block" %>
    <%= form.text_field :country_name_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
