<div id="<%= dom_id world_bank_country %>" class="card">
  
  <div class="card-body">
    
    <h5 class="card-title">World Bank Country Statistics</h5>
    
    <p class="card-text">
      <strong>Year:</strong>
      <%= world_bank_country.year %>
    </p>

    <p class="card-text">
      <strong>Agriculture:</strong>
      <%= world_bank_country.agriculture %>
    </p>

    <p class="card-text">
      <strong>Ease of doing business:</strong>
      <%= world_bank_country.ease_of_doing_business %>
    </p>

    <p class="card-text">
      <strong>Education expenditure:</strong>
      <%= world_bank_country.education_expenditure %>
    </p>

    <p class="card-text">
      <strong>Export:</strong>
      <%= world_bank_country.export %>
    </p>

    <p class="card-text">
      <strong>Gdp:</strong>
      <%= world_bank_country.gdp %>
    </p>

    <p class="card-text">
      <strong>Health expenditure:</strong>
      <%= world_bank_country.health_expenditure %>
    </p>

    <p class="card-text">
      <strong>Import:</strong>
      <%= world_bank_country.import %>
    </p>

    <p class="card-text">
      <strong>Industry:</strong>
      <%= world_bank_country.industry %>
    </p>

    <p class="card-text">
      <strong>Inflation rate:</strong>
      <%= world_bank_country.inflation_rate %>
    </p>

    <p class="card-text">
      <strong>R:</strong>
      <%= world_bank_country.r %>
    </p>

    <p class="card-text">
      <strong>Country name:</strong>
      <%= world_bank_country.country_name_id %>
    </p>

  </div>

</div>
