<div id="<%= dom_id world_bank_country %>">
  <p>
    <strong>Year:</strong>
    <%= world_bank_country.year %>
  </p>

  <p>
    <strong>Agriculture:</strong>
    <%= world_bank_country.agriculture %>
  </p>

  <p>
    <strong>Ease of doing business:</strong>
    <%= world_bank_country.ease_of_doing_business %>
  </p>

  <p>
    <strong>Education expenditure:</strong>
    <%= world_bank_country.education_expenditure %>
  </p>

  <p>
    <strong>Export:</strong>
    <%= world_bank_country.export %>
  </p>

  <p>
    <strong>Gdp:</strong>
    <%= world_bank_country.gdp %>
  </p>

  <p>
    <strong>Health expenditure:</strong>
    <%= world_bank_country.health_expenditure %>
  </p>

  <p>
    <strong>Import:</strong>
    <%= world_bank_country.import %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= world_bank_country.industry %>
  </p>

  <p>
    <strong>Inflation rate:</strong>
    <%= world_bank_country.inflation_rate %>
  </p>

  <p>
    <strong>R:</strong>
    <%= world_bank_country.r %>
  </p>

  <p>
    <strong>Country name:</strong>
    <%= world_bank_country.country_name_id %>
  </p>

</div>
