<div id="<%= dom_id world_bank_country %>">
  <p>
    <strong>Country name:</strong>
    <%= world_bank_country.Country_Name %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= world_bank_country.Country_Code %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= world_bank_country.Year %>
  </p>

  <p>
    <strong>Agriculture:</strong>
    <%= world_bank_country.Agriculture %>
  </p>

  <p>
    <strong>Ease of doing business:</strong>
    <%= world_bank_country.Ease_of_Doing_Business %>
  </p>

  <p>
    <strong>Education expenditure:</strong>
    <%= world_bank_country.Education_Expenditure %>
  </p>

  <p>
    <strong>Export:</strong>
    <%= world_bank_country.Export %>
  </p>

  <p>
    <strong>Gdp:</strong>
    <%= world_bank_country.GDP %>
  </p>

  <p>
    <strong>Health expenditure:</strong>
    <%= world_bank_country.Health_Expenditure %>
  </p>

  <p>
    <strong>Import:</strong>
    <%= world_bank_country.Import %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= world_bank_country.Industry %>
  </p>

  <p>
    <strong>Inflation rate:</strong>
    <%= world_bank_country.Inflation_Rate %>
  </p>

  <p>
    <strong>R:</strong>
    <%= world_bank_country.R %>
  </p>

</div>
