<div id="<%= dom_id world_bank_country %>">
  <p>
    <strong>Year:</strong>
    <%= world_bank_country.Year %>
  </p>

  <p>
    <strong>Agriculture:</strong>
    <%= world_bank_country.Agriculture %>
  </p>

  <p>
    <strong>Easeofdoingbusiness:</strong>
    <%= world_bank_country.EaseOfDoingBusiness %>
  </p>

  <p>
    <strong>Educationexpenditure:</strong>
    <%= world_bank_country.EducationExpenditure %>
  </p>

  <p>
    <strong>Export:</strong>
    <%= world_bank_country.Export %>
  </p>

  <p>
    <strong>Gdp:</strong>
    <%= world_bank_country.Gdp %>
  </p>

  <p>
    <strong>Healthexpenditure:</strong>
    <%= world_bank_country.HealthExpenditure %>
  </p>

  <p>
    <strong>Import:</strong>
    <%= world_bank_country.Import %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= world_bank_country.Industry %>
  </p>

  <p>
    <strong>Inflationrate:</strong>
    <%= world_bank_country.InflationRate %>
  </p>

  <p>
    <strong>R:</strong>
    <%= world_bank_country.R %>
  </p>

  <p>
    <strong>Countrynameid:</strong>
    <%= world_bank_country.CountryNameId %>
  </p>

</div>
