<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1 class="mb-4">World bank countries</h1>

<div id="world_bank_countries">
  <p class="bg-primary-subtle">

  Page <%= @page %> of <%= @pages %>
  Pick a page:
  <% (1..@pages).each do |page| %>
    <% if page == @page %>
      <%= page %>
    <% else %>
      <a href="<%= world_bank_countries_path(page: page - 1) %>"><%= page %></a>
    <% end %>
  <% end %>
  </p>
  <% @world_bank_countries.each do |world_bank_country| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render world_bank_country %>
        <p class="mt-2">
          <%= link_to "Show this world bank country", world_bank_country, class: "btn btn-primary" %>
          <%= link_to "Top 10 Salaries", top_salaries_world_bank_country_path(world_bank_country), class: "btn btn-info mt-2" %>
        </p>
      </div>
    </div>
  <% end %>
  
</div>

<%= link_to "New world bank country", new_world_bank_country_path, class: "btn btn-success mt-3" %>
