<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= aiml_salary.country_name_id %></h5> <!-- Used the country name as the card title for reference -->

    <p class="card-text">
      <strong>Work year:</strong> <%= aiml_salary.work_year %><br>

      <strong>Experience level:</strong> <%= aiml_salary.experience_level %><br>

      <strong>Employment type:</strong> <%= aiml_salary.employment_type %><br>

      <strong>Job title:</strong> <%= aiml_salary.job_title %><br>

      <strong>Salary:</strong> <%= aiml_salary.salary %><br>

      <strong>Salary currency:</strong> <%= aiml_salary.salary_currency %><br>

      <strong>Salary in usd:</strong> <%= aiml_salary.salary_in_usd %><br>

      <strong>Remote ratio:</strong> <%= aiml_salary.remote_ratio %><br>

      <strong>Company size:</strong> <%= aiml_salary.company_size %><br>

    <strong>Top 10 Electricity Stats:</strong>
    <ul>
       <% @electricities.each do |elect| %>
       <% elect.each do |elec| %>
       <%if elec["salary_id"].to_s == aiml_salary.id.to_s %>
       <li>
       <%= link_to "View Electricity", "/global_electricity_statistics/#{elec["id"]}" %>

       <%= elec["Features"] %>
       </li>
       <% end %>
       <% end %>
       <% end %>
    </ul>

    <strong>Top 10 World Bank Countries:</strong>
    <ul>
        <% @worldbankcountries.each do |wbc| %>
       <% wbc.each do |wb| %>
       <%if wb["GDP_id"].to_s == aiml_salary.id.to_s %>
       <li>
       <%= link_to "View GDP", "/world_bank_countries/#{wb["id"]}" %>

       <%= wb["GDP"] %>
       </li>
       <% end %>
       <% end %>
       <% end %>
    </ul>
    </p>
  </div>
</div>
