<div id="<%= dom_id aiml_salary %>">
  <p>
    <strong>Work year:</strong>
    <%= aiml_salary.work_year %>
  </p>

  <p>
    <strong>Experience level:</strong>
    <%= aiml_salary.experience_level %>
  </p>

  <p>
    <strong>Employment type:</strong>
    <%= aiml_salary.employment_type %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= aiml_salary.job_title %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= aiml_salary.salary %>
  </p>

  <p>
    <strong>Salary currency:</strong>
    <%= aiml_salary.salary_currency %>
  </p>

  <p>
    <strong>Salary in usd:</strong>
    <%= aiml_salary.salary_in_usd %>
  </p>

  <p>
    <strong>Employee residence:</strong>
    <%= aiml_salary.employee_residence %>
  </p>

  <p>
    <strong>Remote ratio:</strong>
    <%= aiml_salary.remote_ratio %>
  </p>

  <p>
    <strong>Company location:</strong>
    <%= aiml_salary.company_location %>
  </p>

  <p>
    <strong>Company size:</strong>
    <%= aiml_salary.company_size %>
  </p>

</div>
