<%= form_with(model: global_electricity_statistic) do |form| %>
  <% if global_electricity_statistic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(global_electricity_statistic.errors.count, "error") %> prohibited this global_electricity_statistic from being saved:</h2>

      <ul>
        <% global_electricity_statistic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Features, style: "display: block" %>
    <%= form.text_field :Features %>
  </div>

  <div>
    <%= form.label :_1980, style: "display: block" %>
    <%= form.number_field :_1980 %>
  </div>

  <div>
    <%= form.label :_1981, style: "display: block" %>
    <%= form.number_field :_1981 %>
  </div>

  <div>
    <%= form.label :_1982, style: "display: block" %>
    <%= form.number_field :_1982 %>
  </div>

  <div>
    <%= form.label :_1983, style: "display: block" %>
    <%= form.number_field :_1983 %>
  </div>

  <div>
    <%= form.label :_1984, style: "display: block" %>
    <%= form.number_field :_1984 %>
  </div>

  <div>
    <%= form.label :_1985, style: "display: block" %>
    <%= form.number_field :_1985 %>
  </div>

  <div>
    <%= form.label :_1986, style: "display: block" %>
    <%= form.number_field :_1986 %>
  </div>

  <div>
    <%= form.label :_1987, style: "display: block" %>
    <%= form.number_field :_1987 %>
  </div>

  <div>
    <%= form.label :_1988, style: "display: block" %>
    <%= form.number_field :_1988 %>
  </div>

  <div>
    <%= form.label :_1989, style: "display: block" %>
    <%= form.number_field :_1989 %>
  </div>

  <div>
    <%= form.label :_1990, style: "display: block" %>
    <%= form.number_field :_1990 %>
  </div>

  <div>
    <%= form.label :_1991, style: "display: block" %>
    <%= form.number_field :_1991 %>
  </div>

  <div>
    <%= form.label :_1992, style: "display: block" %>
    <%= form.number_field :_1992 %>
  </div>

  <div>
    <%= form.label :_1993, style: "display: block" %>
    <%= form.number_field :_1993 %>
  </div>

  <div>
    <%= form.label :_1994, style: "display: block" %>
    <%= form.number_field :_1994 %>
  </div>

  <div>
    <%= form.label :_1995, style: "display: block" %>
    <%= form.number_field :_1995 %>
  </div>

  <div>
    <%= form.label :_1996, style: "display: block" %>
    <%= form.number_field :_1996 %>
  </div>

  <div>
    <%= form.label :_1997, style: "display: block" %>
    <%= form.number_field :_1997 %>
  </div>

  <div>
    <%= form.label :_1998, style: "display: block" %>
    <%= form.number_field :_1998 %>
  </div>

  <div>
    <%= form.label :_1999, style: "display: block" %>
    <%= form.number_field :_1999 %>
  </div>

  <div>
    <%= form.label :_2000, style: "display: block" %>
    <%= form.number_field :_2000 %>
  </div>

  <div>
    <%= form.label :_2001, style: "display: block" %>
    <%= form.number_field :_2001 %>
  </div>

  <div>
    <%= form.label :_2002, style: "display: block" %>
    <%= form.number_field :_2002 %>
  </div>

  <div>
    <%= form.label :_2003, style: "display: block" %>
    <%= form.number_field :_2003 %>
  </div>

  <div>
    <%= form.label :_2004, style: "display: block" %>
    <%= form.number_field :_2004 %>
  </div>

  <div>
    <%= form.label :_2005, style: "display: block" %>
    <%= form.number_field :_2005 %>
  </div>

  <div>
    <%= form.label :_2006, style: "display: block" %>
    <%= form.number_field :_2006 %>
  </div>

  <div>
    <%= form.label :_2007, style: "display: block" %>
    <%= form.number_field :_2007 %>
  </div>

  <div>
    <%= form.label :_2008, style: "display: block" %>
    <%= form.number_field :_2008 %>
  </div>

  <div>
    <%= form.label :_2009, style: "display: block" %>
    <%= form.number_field :_2009 %>
  </div>

  <div>
    <%= form.label :_2010, style: "display: block" %>
    <%= form.number_field :_2010 %>
  </div>

  <div>
    <%= form.label :_2011, style: "display: block" %>
    <%= form.number_field :_2011 %>
  </div>

  <div>
    <%= form.label :_2012, style: "display: block" %>
    <%= form.number_field :_2012 %>
  </div>

  <div>
    <%= form.label :_2013, style: "display: block" %>
    <%= form.number_field :_2013 %>
  </div>

  <div>
    <%= form.label :_2014, style: "display: block" %>
    <%= form.number_field :_2014 %>
  </div>

  <div>
    <%= form.label :_2015, style: "display: block" %>
    <%= form.number_field :_2015 %>
  </div>

  <div>
    <%= form.label :_2016, style: "display: block" %>
    <%= form.number_field :_2016 %>
  </div>

  <div>
    <%= form.label :_2017, style: "display: block" %>
    <%= form.number_field :_2017 %>
  </div>

  <div>
    <%= form.label :_2018, style: "display: block" %>
    <%= form.number_field :_2018 %>
  </div>

  <div>
    <%= form.label :_2019, style: "display: block" %>
    <%= form.number_field :_2019 %>
  </div>

  <div>
    <%= form.label :_2020, style: "display: block" %>
    <%= form.number_field :_2020 %>
  </div>

  <div>
    <%= form.label :_2021, style: "display: block" %>
    <%= form.number_field :_2021 %>
  </div>

  <div>
    <%= form.label :country_name_id, style: "display: block" %>
    <%= form.text_field :country_name_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
