<div id="<%= dom_id global_electricity_statistic %>">
  <p>
    <strong>Country:</strong>
    <%= global_electricity_statistic.Country %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= global_electricity_statistic.Features %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= global_electricity_statistic.Region %>
  </p>

  <p>
    <strong>1980:</strong>
    <%= global_electricity_statistic.1980 %>
  </p>

  <p>
    <strong>1981:</strong>
    <%= global_electricity_statistic.1981 %>
  </p>

  <p>
    <strong>1982:</strong>
    <%= global_electricity_statistic.1982 %>
  </p>

  <p>
    <strong>1983:</strong>
    <%= global_electricity_statistic.1983 %>
  </p>

  <p>
    <strong>...:</strong>
    <%= global_electricity_statistic.... %>
  </p>

  <p>
    <strong>2021:</strong>
    <%= global_electricity_statistic.2021 %>
  </p>

</div>
