<div id="<%= dom_id global_electricity_statistic %>" class="card">
  
  <div class="card-body">
    
    <h5 class="card-title">Global Electricity Statistics</h5>
    
    <p class="card-text">
      <strong>Features:</strong>
      <%= global_electricity_statistic.Features %>
    </p>

    <% (1980..2021).each do |year| %>
      <p class="card-text">
        <strong><%= year %>:</strong>
        <%= global_electricity_statistic.send("_#{year}") %>
      </p>
    <% end %>

    <p class="card-text">
      <strong>Country name:</strong>
      <%= global_electricity_statistic.country_name_id %>
    </p>

  </div>

</div>
